<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewInterviewDetailController</servlet-name>
        <servlet-class>controller.ViewInterviewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPassedController</servlet-name>
        <servlet-class>controller.ViewPassedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkCandidateController</servlet-name>
        <servlet-class>controller.MarkCandidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateJobController</servlet-name>
        <servlet-class>controller.CreateJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailJobRecruitmentController</servlet-name>
        <servlet-class>controller.GetDetailJobRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecruitmentPostController</servlet-name>
        <servlet-class>controller.EditRecruitmentPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecruitmentPostController1</servlet-name>
        <servlet-class>controller.EditRecruitmentPostController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleInterviewController</servlet-name>
        <servlet-class>controller.ScheduleInterviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitScheduleController</servlet-name>
        <servlet-class>controller.SubmitScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitInterviewController</servlet-name>
        <servlet-class>controller.SubmitInterviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveCandidateController</servlet-name>
        <servlet-class>controller.ApproveCandidateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>controller.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BUAccountController</servlet-name>
        <servlet-class>controller.BUAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostRecruitmentController</servlet-name>
        <servlet-class>controller.PostRecruitmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewInterviewDetailController</servlet-name>
        <url-pattern>/ViewInterviewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPassedController</servlet-name>
        <url-pattern>/ViewPassedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkCandidateController</servlet-name>
        <url-pattern>/MarkCandidateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateJobController</servlet-name>
        <url-pattern>/CreateJobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailJobRecruitmentController</servlet-name>
        <url-pattern>/GetDetailJobRecruitmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecruitmentPostController</servlet-name>
        <url-pattern>/EditRecruitmentPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecruitmentPostController1</servlet-name>
        <url-pattern>/EditRecruitmentPostController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleInterviewController</servlet-name>
        <url-pattern>/ScheduleInterviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitScheduleController</servlet-name>
        <url-pattern>/SubmitScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitInterviewController</servlet-name>
        <url-pattern>/SubmitInterviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveCandidateController</servlet-name>
        <url-pattern>/ApproveCandidateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/VerifyCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BUAccountController</servlet-name>
        <url-pattern>/BUAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostRecruitmentController</servlet-name>
        <url-pattern>/PostRecruitmentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowJobController</welcome-file>
    </welcome-file-list>
</web-app>
