:root {
    --theme-color: #DFA974;
    --text-font-1: Lora;
    --text-font-2: var(--text-font-2), sans-serif;
}

html {
    height: 100%;
    background-color: #ECECEC;
}

body{
    background-color: white;
    background-position: center;
}

@media screen and (min-width: 992px) {
    body {
        min-height: 100%;
        margin: 0 15%;
    }
}

/*footer*/
.footer {
    width: 100%;
    position: sticky;
    top:100%;
    background-color: #222736;
    padding: 20px ;
    text-align: center;
    margin: 0;
}
.footer h1 {
    color: var(--theme-color);
    font-size: 45px;
    font-family: var(--text-font-1);
}
.footer p {
    color: #B3B3B3;
    font-family: Inter;
}
.footer img {
    width: 33px;
    height: 33px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px; 
}
@media screen and (min-width: 992px) {
    .footer .left {
        padding-left: 100px;
        text-align: left;
    }
    .footer .right {
        padding-right: 30px;
        text-align: right;
    }
}

/*header*/
.header {
    width: 100%;
    height: 60px;
    box-shadow: 0px 6px 5px #EBEBEB;
    margin: 0;
}
.header h1 {
    font-size: 36px;
    font-family: var(--text-font-1);
    color: var(--theme-color);
    margin: 10px 20px;
}
.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.header ul li {
    font-family: var(--text-font-2);
    margin-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.header ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.header ul li a.active-page,
.header ul li a:hover {
    border-bottom: 1px solid var(--theme-color);
}

/*container*/
.container {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}
.background-img {
    width: 100%;
    height: 500px;
    opacity: 90%;
    margin-bottom: 10px;
}
.select-list {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background: url(../img/icon/drop-down.png) 96% / 3% no-repeat white;
}
.select-list::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .select-list {
        background:none\9;
        padding: 5px\9;
    } 
}
.long-form{
    min-height: 700px;
}
.short-form{
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.center-form{
    width: 600px;
    margin: 0 auto;
}
/*job*/
.job img {
    width:100%;
    height:210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.job-title {
    margin: 30px 10px 20px 20px;
    font-family: var(--text-font-1);
    font-size: 28px;
}

.job-description {
    margin-left: 20px;
    font-family: var(--text-font-2);
    color: #707079;
}

.job button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 65%;
    font-family: var(--text-font-2);
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-bottom: 1px solid var(--theme-color);
    background-color: white;
    font-size: 90%;
}
.jdetail {
    align-content: center; 
}
/*page-pagination*/
.page-pagination ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.page-pagination ul li {
    margin: 5px 20px 0px 20px;
    font-family: var(--text-font-2);
    font-size: 15px;
}
.page-pagination ul li a {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid var(--theme-color);
    padding: 7px 14px;
    color: var(--theme-color);
    text-decoration: none;
}
.page-pagination ul li a.active,
.page-pagination ul li a:hover {
    background-color: var(--theme-color);
    color: white;
}
/*detail*/
.apply-table {
    padding: 20px;
    width: 370px;
    margin: 0 auto;
}
.detail-name h2{
    text-align: center;
    margin: 20px 0;
    font-family: var(--text-font-1);
    font-size: 45px;
    color: black;
}
.detail-img{
    padding: 10px;
}
.detail-table p {
    font-size: 20px;
    font-family: var(--text-font-2);
}
.detail-table p span {
    font-size: 20px;
    color: #707079;
    font-weight: bold;
}
.login-table{
    margin: 20px 0px 200px 20px;
}

/*profile */
.info-title {
    font-family: var(--text-font-2);
    font-size: 15px;
    color: #707079;
    margin-top: 20px;
}

.detail-table p {
    font-family: var(--text-font-2);
    font-style: inherit;
    color: #707079;
    margin-left: 40px;
    margin-right: 40px;
}
/*login */
.login-screen h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--text-font-1);
    text-align: center;
}
.login-screen {
    padding: 20px;
    width: 370px;
    margin: 0 auto;
}
.login-screen h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--text-font-1);
    text-align: center;
    font-size: 100%;
}
.login-screen a{
    color: var(--theme-color);
}
.login-screen td{
    padding-bottom: 10px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;  

}
.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.login100-form {
    width: 100%;
}
.login100-form button {
    align-items: center;
    display: block;
    text-align: center;
    font-family: var(--text-font-2);
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    height: 40px;
    border-radius: 2px;
    border: none;
    width: 150px;
    text-decoration: none;
}
.login100-form h1 {
    display: block;
    font-family: var(--text-font-1)-bold;
    font-style: inherit;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    top: -18px;

    display: block;
    width: 100%;
    height: 45px;
    border: none;
    padding: 0 5px;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: var(--theme-color);
    background: -webkit-linear-gradient(left, #fffb00, #fb7e01);
    background: -o-linear-gradient(left, #fffb00, #fb7e01);
    background: -moz-linear-gradient(left, #fffb00, #fb7e01);
    background: linear-gradient(left, #fffb00, #fb7e01);
}
.focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.input100:focus + .focus-input100::after {
    top: -18px;
}
.input100:focus + .focus-input100::before {
    width: 100%;
}
.has-val.input100 + .focus-input100::after {
    top: -18px;
}
.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #fffb00, #fb7e01);
    color: -o-linear-gradient(left, #fffb00, #fb7e01);
    color: -moz-linear-gradient(left, #fffb00, #fb7e01);
    background: linear-gradient(left, #fffb00, #fb7e01);
}
.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #fffb00, #fb7e01);
    color: -o-linear-gradient(left, #fffb00, #fb7e01);
    color: -moz-linear-gradient(left, #fffb00, #fb7e01);
    background: linear-gradient(left, #fffb00, #fb7e01);
}
.login100-form h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-family: var(--text-font-1);
    text-align: center;
    font-size: 100%;
}
.login100-form h7 {
    font-family: var(--text-font-1);
    text-align: center;
    font-size: 100%;
    margin-bottom: 30px;
}
.login100-form a {
    color: var(--theme-color);
}
@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;

    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/*page title*/
.page-title {
    text-align: center;
    margin: 30px 0 50px 0;
    font-family: var(--text-font-1);
    font-size: 40px;
    color: black;
}
/*table*/
.table-header {
    text-align: center;
    margin: 10px 0;
    font-family: var(--text-font-2);
    font-size: 25px;
}
.table-description {
    margin-top: 10px;
    color: #707079;
    font-family: var(--text-font-2);
    font-size: 20px;
    text-align: center;
}

/*border*/
.border-form {
    clear: both;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}
/*input*/
.input-border {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.input{
    font-family: var(--text-font-2);
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 2px;
    border: none;
    width: 100%;
}
/*button*/
.input-button{
    font-family: var(--text-font-2);
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    height: 40px;
    border-radius: 2px;
    border: none;
    width: 100%;
}
.input-button:hover{
    background-color: #dc9752;
}

.submit-button{
    margin: 30px auto 10px auto;
    width: 165px;
    height: 40px;
    display: block;
    text-align: center;
    font-family: var(--text-font-2);
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
}
.submit-button:hover{
    background-color: #dc9752;
}
.link-button{
    margin: 30px auto 10px auto;
    width: 165px;
    height: 40px;
    display: block;
    text-align: center;
    font-family: var(--text-font-2);
    background-color: var(--theme-color);
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    text-decoration: none;
    padding-top: 10px;
}
.link-button.active,
.link-button:hover {
    color: white;
    text-decoration: none;
    background-color: #dc9752;
}